.user-form {
	width: 35rem;
	padding: 1.5rem 1rem;
	border-radius: 12px;
	background-color: #fff;
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

@media (max-width: 620px) {
	.user-form {
		width: 90%;
	}
}

.user-form label {
	font-size: 1rem;
	font-weight: bold;
}

.user-form.invalid label {
	color: red;
}

.user-form input {
	width: 100%;
	font: inherit;

	padding: 0.2rem;
}

.user-form.invalid input {
	border: none;
	background-color: #a01414;
}

.user-form button {
	padding: 0.4rem 0.6rem;
	font: inherit;
	cursor: pointer;
	color: white;
	background-color: #420949;
	border: none;
}

.user-form button:hover {
	background-color: #791086;
}

.user-form.invalid button {
	background-color: #a01414;
}
